<video #localVideo class="localVideo" autoplay></video>
<video #remoteVideo class="remoteVideo" autoplay></video>
<div class="select-container">
	<!-- <select (change)="registerLocalUser($event.target.value)">
		<option value="" disabled selected>Select local user</option>
		<option value="A">A</option>
		<option value="B">B</option>
	</select>

	<select (change)="onRemoteUserChanged()">
		<option value="" disabled selected>Select remote user</option>
		<option value="A">A</option>
		<option value="B">B</option>
	</select> -->
	<button (click)="registerLocalUser('A')">Login as A</button>
	<button (click)="registerLocalUser('B')">Login as B</button>
	<button (click)="call()">Call User A</button>
</div>
